{% extends "base.html" %}
{% block title %}Positions Tabulator{% endblock %}
{% block content %}
<h1>Positions - Tableau dynamique</h1>
<div id="position-table"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.3/css/tabulator.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.3/js/tabulator.min.js"></script>
<script>
    var tabledata = JSON.parse('{{ data_positions|default:"[]"|escapejs }}');
    var columns = [];
    if (tabledata.length > 0) {
        Object.keys(tabledata[0]).forEach(function(key) {
            columns.push({ title: key, field: key, editor: "input" });
        });
    }
    var table = new Tabulator("#position-table", {
        height: "400px",
        layout: "fitColumns",
        reactiveData: true,
        data: tabledata,
        columns: columns
    });
</script>
{% endblock %}